.root {
  /*background-image: url(./assets/board.png);*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*height: calc(100vw / 1.71);*/
  background-image: url(assets/bgpattern.png);
  padding-top: 120px;
  min-height: calc(100vh - 100px);

  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-gap: 3px;
  justify-items: center;
  justify-content: center;
}

.board {
  background-image: url(assets/board.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50.3vw;
  height: 50.3vw;
}

.boardPlate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  cursor: pointer;
}
.boardPlate:hover {
  background: rgba(255, 255, 255, 0.1);
}
.boardPlate.disabled:hover {
  background: none;
}

.card {
  height: 13.8vw;
  margin-top: -6vw;
}

.card:nth-child(2) {
  margin-top: 0;
}

.playerOne,
.playerTwo {
  width: 100%;
}

.playerOne h1,
.playerTwo h1 {
  text-align: center;
  padding-bottom: 1em;
}
