.navbar {
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.navbar.bgActive {
    background: #181d23;
}

@media only screen and (max-width: 849px) {
    .navbar {
        background: #181d23aa;
    }
}

.navbar .navWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding: 0 2rem;
}

.navbar .brand {
    font-size: 1.6rem;
    color: #fafafa;
    cursor: default;
}

/***** Menu Button *****/
.humburger {
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    border: 0;
    outline: none;

    cursor: pointer;
    background-color: transparent;

    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
}

.humburger.isActive .humburgerBox span {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent;
}

.humburger.isActive .humburgerBox span::before {
    top: -80px;
    left: -80px;
    transition: left .125s ease-out,
        top .05s linear .125s,
        transform .125s cubic-bezier(.075, .82, .165, 1) .175s;
    transform: translate3d(80px, 80px, 0) rotate(45deg);
}

.humburger.isActive .humburgerBox span::after {
    top: -80px;
    right: -80px;
    transition: right .125s ease-out,
    top .05s linear .125s,
    transform .125s cubic-bezier(.075, .82, .165, 1) .175s;
    transform: translate3d(-80px, 80px, 0) rotate(-45deg);
}

.humburgerLabel {
    font-family: Overlock, Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    color: white;
    margin-right: 10px;
}

.humburgerBox {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    vertical-align: middle;
}

.humburgerBox span {
    transition: background-color .125s ease-in .175s;
    top: 10px;
    display: block;
    margin-top: -2px;
}

.humburgerBox span::before {
    left: 0;
    top: -10px;

    transition: transform .125s cubic-bezier(.6, .04, .98, .335),
        top .05s linear .125s,
        left .125s ease-in .175s;

    transition-delay: 0s, .125s, .175s;
}

.humburgerBox span::after {
    top: 10px;
    bottom: -10px;
    right: 0;
    transition: transform .125s, cubic-bezier(.6, .04, .98, .335),
        top .05s linear .125s,
        right .125s ease-in .175s;
}

.humburgerBox span::before, .humburgerBox span::after {
    display: block;
    content: "";
}

.humburgerBox span, .humburgerBox span::before, .humburgerBox span::after {
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
}
/***** Menu Button END *****/

